*{
    margin: 0;
    box-sizing: border-box;

}
.hero{
    background-color: #23424A;
    color: white;
    width: 80%;
    padding: 100px 0;
}
.content{
    width: 60%;
    max-width: 950px;
    margin: 0 auto;
}
.content h1{
font-size: 48px;
font-family: Roboto Black ;
}
.content p{
    font-size: 21px;
    font-family: Roboto Regular ;
        padding-bottom: 2.5rem;
        padding-top: 15px;
        color: #a4c8ca;
}
.content a{
    display: inline-block;
    font-size: 21px;
    font-family: Roboto Bold;
    text-decoration: none;
    background-color: #38CFD9;
    color: black;
    padding: .75em 2em;
    border-radius: 30px;
}