*{
    margin: 0;
    box-sizing: border-box;

}
.hero{
    background-color: #23424A;
    color: white;
    width: 100%;
    padding: 100px 0;
    display: flex;
}
.content{
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
display: flex;
 align-items: flex-start;
}

.content h1{
font-size: 48px;
font-family: Roboto Black ;
}
.content p{
    font-size: 21px;
    font-family: Roboto Regular ;
        padding-bottom: 2.5rem;
        padding-top: 15px;
        color: #a4c8ca;
}
.content a{
    display: inline-block;
    font-size: 21px;
    font-family: Roboto Bold;
    text-decoration: none;
    background-color: #38CFD9;
    color: black;
    padding: .75em 2em;
    border-radius: 30px;
}
.hero-img{
    width: 60%;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.col
{
    margin: 2rem;
width: 100%;
}
.col h2{
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
    color: #87629A;
}
.col p{
    text-align: center;
}