*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 80%;
    max-width: 600px; 
    background-color: #2c0a1e;
    color: white;
    padding: 1em 3em;
    height: 400px;
    margin: 0 auto;
}
.box{
width: 50%;

}


