
*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.intro{
     background-color: rgb(28, 139, 121);
    color: white;
    padding: 50px 0;
}
.container1{
    margin: 0 auto;
    width: 80%;
    max-width: 750px;
}
.box{
    width: 50%;
}