*{
    margin: 0;
    box-sizing: border-box;

}
img{
  max-width: 100%;
}
body{
    border: 5px solid black;
}
.hero{
    background-color: #23424A;
    color: white;
    width: 100%;
    padding: 100px 0;
    display: flex;
}
.content{
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
display: flex;
 align-items: flex-start;
}
.btn{
    display: inline-block;
    font-size: 21px;
    font-family: Roboto Bold;
    text-decoration: none;
    background-color: #38CFD9;
    color: black;
    padding: .75em 2em;
    border-radius: 30px;
}


.content h1{
font-size: 48px;
font-family: Roboto Black ;
}
.content p{
    font-size: 21px;
    font-family: Roboto Regular ;
        padding-bottom: 2.5rem;
        padding-top: 15px;
        color: #a4c8ca;
}

.hero-img {
    align-items: flex-start;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.main{
    gap: 10%;
}
.content1 h1{
color: #136C72;
font-size: 50px;
}
.content1{
width: 62%;
}
.para{
    padding-top: 20px;
    line-height: 30px;
}

.content2{
    background-color: #136C72;
    color: white;
    text-align: center;
    width: 50%;
    
}
.col
{
    color: white;
    padding: 3rem;
}
