*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.parents
{
    background-color: rgb(11, 11, 71);
    color: white;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    /* overflow: hidden; */
}
/* .child{
    background-color: aqua;
padding: 6em;   
    width: 50%;
} */